# Xcode
DerivedData/
.build/

# User settings
*.xcuserstate
xcuserdata/

# Swift Package Manager
.swiftpm/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/

# macOS
.DS_Store